# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build output
/build
/dist
/out

# Misc
.DS_Store           # macOS file
.env                # Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*      # Log files
yarn-debug.log*
yarn-error.log*
*.log

# TypeScript cache
*.tsbuildinfo

# Editor-specific
.idea/              # JetBrains IDEs
*.iml
.vscode/            # VS Code (optional, if you have user-specific settings)
*.swp
*.swo
